@import url("reset.css");

:root{
  --x_mouse_cord: 0;
  --y_mouse_cord: 0;
}

html {
  font-family: sans-serif;
    --backround-page: #FFFFFF;
    --background-header: #5599ff;
    --background-sidebar: #0066FF;
    --font: #FFFFFF;
  
    background-color: var(--background-page);
}

.white-theme-icon{
  display: none;
}

.dark-theme-icon{
  --backround-page: #000000;
  --background-header: #002288;
  --background-sidebar: #000088;
  --font: #FFFFFF;
}

header {
  width: 100%;
  background-color: var(--background-header);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  position: fixed !important;
  top: 0;
  left: -300px; /*В скрытом состоянии -300px, 0 в раскрытом. -150px выставлено в демонстрационных целях, чтобы вы его не потеряли */
  z-index: 5;

  transition: left 0.5s ease-in-out;
  
  background-color: var(--background-sidebar);
  height: 100vh;
  width: 300px;
  color: var(--font);
  font-size: x-large;
  text-align: center;
  padding: 20px 0;
}

.theme-button {
    cursor: pointer;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 20px;
}

.sidebar-button {
  cursor: pointer;
}

.sidebar-ava {
  width: 64px;
}

.close-button {
  cursor: pointer;
  width: 32px;
  position: absolute;
  right: 8px;
  top: 8px;
}

.menu-button {
  cursor: pointer;
  width: 32px;
}

.theme-switch > img {
    width: 32px;
    margin-right: 10px;
    cursor: pointer;
}

.context-menu-sidebar {
    background-color: var(--background-sidebar);
    width: 150px;
    position: fixed;

    /* Чтобы их было видно */
    z-index: 3;
    display: none;
}
.context-menu-body {
    background-color: var(--background-header);
    width: 100px;
    position: fixed;

    /* Чтобы их было видно */
    z-index: 3;
    display: none;
}

.context-menu-button {
    border: 2px solid black;
    margin-top: -2px;
    padding: 5px;

    cursor: pointer;
}

.Close_button{
  border: 2px solid black;
    margin-top: -2px;
    padding: 5px;
    z-index: 3;
    cursor: pointer;
}