html{
  background-color: #e6d2b7;
}

#reg-image{
  margin-left: 50px;
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
}

.reg-form{
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 150px;
}

.submit-registration{
  background-color: #e3e3e3;
  border: 1px solid black;
  border-radius: 3px;
  margin-left: 90px;
  margin-top: 15px;
}

input{
  background-color: #e6d2b7;
  border: 0px;
}

.RegReady{
  display: none;
}